name: CI

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  mix_test:
    name: mix test (OTP ${{matrix.otp}} | Elixir ${{matrix.elixir}})

    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.13.4
            otp: 25.3

          - elixir: 1.16.3
            otp: 26.2

          - elixir: 1.18.4
            otp: 27.3

          - elixir: 1.19.4
            otp: 28.1
            lint: lint

          # run against latest Elixir to catch warnings early
          - elixir: main-otp-28
            otp: maint-28

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore deps and _build cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

      - name: Install dependencies
        run: mix deps.get

      - name: Remove compiled application files
        run: mix clean

      - name: Compile dependencies
        run: mix compile
        if: ${{ !matrix.lint }}
        env:
          MIX_ENV: test

      - name: Compile & lint dependencies
        run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}
        env:
          MIX_ENV: test

      - name: Run tests
        run: |
          epmd -daemon
          mix test
